__pycache__
.DS_Store
venv
set-environment.sh
stashed
*.json
*.jsonl
*.txt
*.pickle
*.png
*.html

######################
# Intellij
######################
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig
classes/
out/

######################
# virtualenv
######################
*virtual*env/